@import "tailwindcss";

@theme {
  --color-background: #f7f9fc;
  --color-foreground: #182839;

  --color-card: #ffffff;
  --color-card-foreground: #182839;

  --color-primary: #5577cd;
  --color-primary-foreground: #ffffff;

  --color-secondary: #33cc99;
  --color-secondary-foreground: #ffffff;

  --color-accent: #ffcc33;
  --color-accent-foreground: #182839;

  --color-muted: #e6e6e6;
  --color-muted-foreground: #6b7280;

  --color-border: #e6e6e6;

  --color-success: #33cc99;
  --color-warning: #ffcc33;
  --color-destructive: #ef4444;
}

/* DARK MODE */

.dark {
  --color-background: #0f172a;
  --color-foreground: #e6e6e6;

  --color-card: #182839;
  --color-card-foreground: #e6e6e6;

  --color-primary: #5577cd;
  --color-primary-foreground: #ffffff;

  --color-secondary: #33cc99;
  --color-secondary-foreground: #ffffff;

  --color-accent: #ffcc33;
  --color-accent-foreground: #182839;

  --color-muted: #1f2937;
  --color-muted-foreground: #9ca3af;

  --color-border: #334155;
}
