@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-foreground: #0f172a;

  --color-card: #ffffff;
  --color-card-foreground: #0f172a;

  --color-primary: #4f6fd6;
  --color-primary-foreground: #ffffff;

  --color-secondary: #22c55e;
  --color-secondary-foreground: #ffffff;

  --color-accent: #fbbf24;
  --color-accent-foreground: #1f2937;

  --color-muted: #eef2f7;
  --color-muted-foreground: #64748b;

  --color-border: #dbe2ea;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-destructive: #ef4444;
}

/* DARK MODE */

.dark {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;

  --color-card: #111827;
  --color-card-foreground: #f8fafc;

  --color-primary: #6c8cff;
  --color-primary-foreground: #ffffff;

  --color-secondary: #34d399;
  --color-secondary-foreground: #052e16;

  --color-accent: #facc15;
  --color-accent-foreground: #1f2937;

  --color-muted: #1e293b;
  --color-muted-foreground: #cbd5e1;

  --color-border: #334155;

  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-destructive: #f87171;
}

:root {
  --chart-1: #6366f1;
  --chart-2: #22c55e;
  --chart-3: #f59e0b;
  --chart-4: #ef4444;
  --chart-5: #06b6d4;
  --chart-6: #8b5cf6;
  --chart-7: #ec4899;
  --chart-8: #84cc16;
  --chart-9: #f97316;
  --chart-10: #14b8a6;
  --chart-11: #0ea5e9;
  --chart-12: #a855f7;
}
